img{
    height: 50px;
}
body{
    background-image:url(../images/584533.jpg);
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size: 100%;
}
.ftf
{
    height: 115px;
    margin-left: 20px;
}
.equipes
{
    margin-top: 20px;
}